#ifdef ENABLE_TDD
//
//  #TestName#Test.h
//
//
#ifndef __TDD_#TestName#Test__
#define __TDD_#TestName#Test__

// Include Header

#include "TDDTest.h"

// Class Declaration 
class #TestName#Test : public TDDTest
{
protected:
	virtual void setUp();
	virtual void tearDown();
	virtual void setSubTest(Array *menuArray);
	
private:
	void subTest(Object *sender);
}; 

#endif

#endif